.root {
  composes: stack from '../../../../styles/primitives.module.css';
  margin: 0;
}

.empty {
  margin: 0;
  color: var(--color-text);
}

.pending {
  opacity: 0.6;
  pointer-events: none;
}

.desktopOnly {
  @mixin smaller-than $mantine-breakpoint-sm {
    display: none;
  }
}
